@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif !important;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
  scroll-behavior:smooth;
}
body{
  background-color:var(--secondary-color);

}
:root{
  /* Padding */
--sm-padding : 1rem;
--mid-padding : 1.25rem;
--lg-padding : 2rem;
/* Font Size */
--sm-font-size: 0.75rem;
--normal-font-size : 1rem;
--mid-font-size: 1.25rem;
--lg-font-size:2rem;


/* Color */
--primary-color: #f5cb11;
--secondary-color: #faebd7;
}
.active{
  color:var(--primary-color) !important ;
}
.header{
  background-image: linear-gradient(-20deg  ,#0e1016 , #171c29b8) ,url('./images/63bc745117c4cf70b4731e81_hero-bg.jpg');
  background-attachment: fixed;
  background-size: cover;
  padding-top: 12%;
  padding-bottom: 15%;

  /* top: 50%; */
  /* z-index: -1000; */
}
.header-text{
  text-align: center;
  height: 70%;
}
h1{
  color:  var(--primary-color);
  text-transform: uppercase;
  font-size: 100px !important;
  width: fit-content;
  margin: auto;
  
}
.software::after{
  content: '';
  display: block;
  background-color: var(--primary-color);
  width: 45%;
  height: 5px;
  border-radius: 5px;
  
}
.cu-text{
color: var(--secondary-color);
font-size: var(--lg-font-size);
text-transform: uppercase;
}

ul{
  display: flex;
  gap: 50px;
  position: relative;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
li{
  list-style: none;
}
a{
  color:var(--secondary-color) !important;
  text-decoration: none !important;
  font-size: var(--mid-font-size);
}
li::after{
  content: '';
  display: block;
  background-color:var(--primary-color);
  width: 0%;
  margin: auto;

  height: 5px;
  border-radius: 5px;
  transition: .3s ease-in;
}
li:hover::after{
  display: block;
  background-color:var(--primary-color);
  width: 100%;
  margin: auto;
  height:3px;

  
}
.nav-bar{
  
  display: flex;
  justify-content: space-between;
  height: 10%;
  padding: var(--sm-padding);
  position:fixed;
  width: 100%;
  z-index: 000;
  /* background-color: var(--secondary-color); */

}
.nav-colored{
  /* background-image: linear-gradient(-20deg  ,#0000004d , #000000ab) ,url('./images/63bc745117c4cf70b4731e81_hero-bg.jpg'); */
  background-color: #0e1016;
  display: flex;
  justify-content: space-between;
  height: 10%;
  padding: var(--sm-padding);
  position:fixed;
  width: 100%;
  z-index: 1000;
}
.nav-logo{
  position: relative;
  top: -40%;
  width: 6%;
}

._skills{

  /* width: 100%; */
  /* background-image: linear-gradient(-20deg  ,#6963074d , #000000ab) ,url('./images/63bc745117c4cf70b4731e81_hero-bg.jpg'); */
  background-color: #0e1016;
  padding-top: 5%;
  background-attachment: fixed;
  
}
._projects{
  padding-top: 5%;
 
  background-image: linear-gradient(to bottom right ,#0d0a39b5,#0e1016);
  /* background-color: #0e1016; */
  background-attachment: fixed;
}
.projects{
  position: relative;
  width: 80%;
  left: 10%;
  gap: 20px;
  justify-content: space-between;
  box-sizing: border-box;
}
.project-title{
  display: block;
  color: var(--primary-color);
  text-align: start I !important;
}
.projects-card{
    /* width: 20vh !important; */
    box-shadow: 0px 0px 3px 0px rgba(255, 224, 51, 0.376);
    /* background-image: linear-gradient(-20deg  ,#f5cb117f , #faebd731); */
    background-color: #15141495;
  
    border-radius: 15px;
    filter: grayscale(0%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 5px;
    gap:5px;
    transition: all 0.5s;
  
}
.projects-card:hover{
  transform: scale(1.02,1.02);
}
.project-desc{
  color: var(--secondary-color);
}
.skill-icon{
width: 150px;

}

.skills{
  position: relative;
  width: 80%;
  left: 10%;
  gap: 20px;
  justify-content: space-between;
  box-sizing: border-box;
  
}
.skill-card{
  /* width: 20vh !important; */
  box-shadow: 0px 0px 3px 0px rgba(255, 224, 51, 0.376);
  /* background-image: linear-gradient(-20deg  ,#f5cb117f , #faebd731); */
  background-color: #15141495;

  border-radius: 15px;
  filter: grayscale(0%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 5px;
  gap:5px;
  transition: all 0.5s;

  
  
  }
  .skill-card:hover{
    box-shadow: 0px 0px 3px 3px rgba(255, 224, 51, 0.376);
    animation: shadowAnim .5s ease-in-out infinite;
  
  }

  @keyframes shadowAnim {
    0%{
      transform: scale(1.01,1.01);
    }
    50%{
      transform: scale(1.02,1.02);
    }
    100%{
      transform: scale(1.01,1.01);
    }

  }
  /* .skill-card:hover::after{
    content: '';
    display: block;
    position: relative;
    width: 100%;
    background-color: #24201a6b;
    height: 90%;
    margin:auto;
    top: -95%;
    border-radius: 15px;
  
  } */
  .skill-card-text{
    text-align: center;
    font-size: var(--lg-font-size);
  }

.custom-div{
  position: fixed;
  height: 20%;
  width: 10%;
  left: 10%;
  top: 50%;
  /* box-shadow: 5px 5px 5px rgba(78, 65, 65, 0.51); */
  background-image: linear-gradient(-20deg  ,#f5cb1138 , #faebd73d);;
  filter: grayscale(10%);
  transition: all 0.5s;
  border-radius: 15px;
  background-attachment: fixed;

  animation: customDiv 10s infinite;
  }
  @keyframes customDiv {
    0%{
      top: 52%;
    }
    50%{
      top: 55%;
    }
    100%{
      top: 52%;
    }

    
  }
.custom-div2{
  position: fixed;
  height: 20%;
  width: 10%;
  left: 80%;
  top: 50%;
  /* box-shadow: 5px 5px 5px rgba(78, 65, 65, 0.51); */
  background-image: linear-gradient(-20deg  ,#f5cb1138 , #faebd73d);;
  filter: grayscale(10%);
  transition: all 0.5s;
  border-radius: 15px;
  background-attachment: fixed;
  animation:customDiv2 30s infinite ;
  }
  @keyframes customDiv2 {
    0%{
      transform: rotateZ(90deg);
    }
    50%{
      transform: rotateZ(180deg);
    }
    100%{
      transform: rotateZ(90deg);
    }
  }
.custom-div5{
  height: 20%;
  width: 10%;
  left: 10%;
  top: 10%;
  /* box-shadow: 5px 5px 5px rgba(78, 65, 65, 0.51); */
  background-image: linear-gradient(-20deg  ,#f5cb1138 , #faebd73d);;
  filter: grayscale(10%);
  transition: all 0.5s;
  border-radius: 50%;
  background-attachment: fixed;
  position: fixed;
  /* animation:customDiv5 30s infinite linear ; */
  }

  @keyframes customDiv5 {
    50%{
      left: 15%;
    }
    100%{
      left: 10%;
    }
  }
.custom-div3{
  position: fixed;
  height: 30%;
  width: 20%;
  left: 50%;
  top: 10%;
  /* box-shadow: 5px 5px 5px rgba(78, 65, 65, 0.51); */
  background-image: linear-gradient(-20deg  ,#f5cb1138 , #faebd73d);;
  filter: grayscale(10%);
  transition: all 0.5s;
  border-radius: 15px;
  animation: customDiv3 8s infinite;
  }
@keyframes customDiv3 {
  0%{
    transform: scale(1.01,1.01);
  }
  50%{
    transform: scale(1.1,1.1);
  }
  100%{
    transform: scale(1.01,1.01);
  }
}

.custom-div4{
  position: fixed;
  height: 30%;
  width: 20%;
  left: 30%;
  top: 60%;
  /* box-shadow: 5px 5px 5px rgba(78, 65, 65, 0.51); */
  background-image: linear-gradient(-20deg  ,#f5cb1138 , #faebd73d);;
  filter: grayscale(10%);
  transition: all 0.5s;
  border-radius: 15px;
  /* animation: customDiv4 120s infinite linear; */
  }

  @keyframes customDiv4 {
    50%{
      left: 50%;
    }
    100%{
      left: 30%;
    }
  }
  @keyframes backPos {
    0%{
      background-position: 0px;
    }
    50%{
      background-position: 1230px;
    }    
    100%{
      background-position: 0px;
    }
  }

  @keyframes anim{
0%{
  top: 0%;
  filter: grayscale(0%);
}
50%{
  top: 15%;
  width: 20%;
  left: 8%;
  filter: grayscale(50%);
}
100%{
  top: 0%;
  filter: grayscale(0%);
}

  }
  @keyframes anim2{
0%{
  top: 0%;
  filter: grayscale(0%);
}
50%{
  top: 15%;
  width: 20%;
  left: 68%;
  filter: grayscale(50%);
}
100%{
  top: 0%;
  filter: grayscale(0%);
}

  }
 


